@import "variable";

#main {
  overflow-x: hidden;
  padding-bottom: 0.51rem;
  #header {

  }
  #body {
    .banner {
      height: 1.52rem;
      .swiper-container {
        height: 100%;
        .swiper-pagination-bullets {
          font-size: 0 !important;
          .swiper-pagination-bullet {
            width: 0.08rem;
            height: 0.08rem;
            margin: 0 0.03rem;
          }
        }
        .swiper-pagination-bullet-active {
          background-color: @white;
        }
      }
    }
    .navigation {
      .nav-inner {
        padding: 0.15rem 0rem;
        font-size: 0;
        .nav-item {
          text-align: center;
          img {
            width: 0.5rem;
            height: 0.5rem;
          }
          .item-desc {
            height: 0.2rem;
            line-height: 0.2rem;
            margin-top: 0.05rem;
            font-size: 0.13rem;
          }
        }
      }
    }
    .menus {
      height: auto;
      .menu-inner {
        padding: 0;
        .menu-item {
          border-right: @border;
          font-size: 0;
          a {
            padding: 0.2rem 0 0.2rem 0.2rem;
          }
          .item-img {
            width: 0.35rem;
            display: inline-block;
            vertical-align: middle;
          }
          .item-info {
            padding-left: 0.15rem;
            display: inline-block;
            vertical-align: middle;
            line-height: 0.2rem;
            .item-title {
              font-size: 0.15rem;
              color: @fontColor1;
            }
            .item-desc {
              font-size: 0.12rem;
              color: #808080;
            }
          }
          &:nth-child(2n) {
            border-right: none;
          }
          &:nth-child(n+3) {
            border-top: @border;
          }
        }
      }
    }
    .group {
      .group-header {
        padding: 0.15rem 0.15rem;
        border-bottom: @border;
        .group-title {
          float: left;
          height: 0.2rem;
          padding-left: 0.1rem;
          border-left: 0.04rem solid #5492e2;
          line-height: 0.2rem;
          font-size: 0.18rem;
        }
        .more {
          float: right;
          height: 0.2rem;
          line-height: 0.2rem;
          font-size: 0.13rem;
          color: #808080;
          span {
            padding-right: 0.05rem;
          }
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
      .group-content {
        &.hospital {
          min-height: 2rem;
          .group-item {
            a {
              padding-left: 0.15rem;
              font-size: 0;
              .item-inner {
                border-bottom: @border;
                padding: 0.15rem 0.15rem 0.15rem 0;
              }
              .item-img {
                width: 0.9rem;
                height: 0.6rem;
                display: inline-block;
                vertical-align: middle;
                border-radius: 0.03rem;
                overflow: hidden;
              }
              .item-info {
                line-height: 0.2rem;
                display: inline-block;
                vertical-align: middle;
                padding-left: 0.15rem;
                .item-title {
                  font-size: 0.15rem;
                }
                .item-row {
                  font-size: 0.13rem;
                  color: #808080;
                }
              }
            }
            &:last-child {
              .item-inner {
                border: none !important;
              }
            }
          }
          .loading, .error, .empty {
            height: 2rem;
          }
        }
        &.doctor {
          padding: 0;
          min-height: 2rem;
          .group-item {
            border-right: @border;
            .item-inner {
              padding: 0.1rem 0;
            }
            .item-img {
              width: 0.55rem;
              height: 0.55rem;
              margin: 0 auto 0.04rem;
              border-radius: 100%;
              overflow: hidden;
            }
            .item-info {
              line-height: 0.2rem;
              text-align: center;
              .item-name {
                font-weight: bold;
                font-size: 0.15rem;
                color: @fontColor1;
              }
              .item-span {
                display: block;
                font-size: 0.12rem;
                color: #808080;
              }
            }
            &:nth-child(3n) {
              border-right: none;
            }
            &:nth-child(n+4) {
              border-top: @border;
            }
          }
          .loading, .error, .empty {
            height: 2rem;
          }
        }
      }
    }
  }
}