@white: #FFFFFF;
@black: #000000;
@error: #999999;
@btnColor: #ff7474;
@fontColor1: #333333;
@fontColor2: #666666;
@fontColor3: #bbbbbb;
@borderColor: #efefef;
@activeColor: #4d8ff2;
@borderColor2: #e7e7e7;
@borderRadius: 0.05rem;
@transparent: transparent;
@border: 0.5px solid @borderColor;
